PORT=3007
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bnpl
POSTGRES_PASSWORD=bnpl
POSTGRES_DB=notification_db
KAFKA_BROKERS=localhost:9092
RABBITMQ_URL=amqp://bnpl:bnpl@localhost:5672

# proveedor de email activo (repository pattern): 'console' | 'sendgrid' | 'ses'
EMAIL_PROVIDER=console
